<table border="1">
    <tr>
        <td>
            #
        </td>
        <td>
            Номер
        </td>
        <td>
            Номер заказа
        </td>
        <td>
            Имя
        </td>
        <td>
            Город
        </td>
        <td>
            Телефон
        </td>
        <td>
            Дата
        </td>
    </tr>
    <% items.forEach(function(item, i){ %>
    <tr>
        <td>
            <%-i + 1 -%>
        </td>
        <td>
            <%-item.id -%>
        </td>
        <td>
            <%-item.order -%>
        </td>
        <td>
            <%-item.name -%>
        </td>
        <td>
            <%-item.city -%>
        </td>
        <td>
            <%-item.phone -%>
        </td>
        <td>
            <%-item.date -%>
        </td>
    </tr>
    <% }); %>
</table>