<% Object.keys(result).forEach(function(city, i){ %>
<h1><%-city -%></h1>
<table border="1" style="border-collapse: collapse">
    <tr>
        <td>
            #
        </td>
        <td>
            Номер
        </td>
        <td>
            Номер заказа
        </td>
        <td>
            Имя
        </td>
        <td>
            Город
        </td>
        <td>
            Телефон
        </td>
        <td>
            Дата
        </td>
    </tr>
    <% result[city].forEach(function(item, i){ %>
    <tr>
        <td>
            <%-i + 1 -%>
        </td>
        <td>
            <%-item.id -%>
        </td>
        <td>
            <%-item.order -%>
        </td>
        <td>
            <%-item.name -%>
        </td>
        <td>
            <%-item.city -%>
        </td>
        <td>
            <%-item.phone -%>
        </td>
        <td>
            <%-item.date -%>
        </td>
    </tr>
    <% }); %>
</table>
<% }); %>
