<table border="1">
	<tr>
		<td>
			#
		</td>
		<td>
			Номер заказа
		</td>
		<td>
			Имя
		</td>
		<td>
			Город
		</td>
		<td>
			Телефон
		</td>
		<td>
			Порядковый номер
		</td>
		<td>
			Скидка
		</td>
		<td>
			Дата
		</td>
	</tr>
	<% orders.forEach(function(order, i){ %>
	<tr>
		<td>
			<%-i + 1 -%>
		</td>
		<td>
			<%-order.orders -%>
		</td>
		<td>
			<%-order.name -%>
		</td>
		<td>
			<%-order.city -%>
		</td>
		<td>
			<%-order.phone -%>
		</td>
		<td>
			<%-order.count -%>
		</td>
		<td>
            <%-order.discount -%>
		</td>
		<td>
			<%-order.date -%>
		</td>
	</tr>
  	<% }); %>
</table>