<form 
	action="/question" 
	method="POST"
	name="question-form">
	<input 
		type="hidden"
		<% if (question) { %>
			value="<%-question.id -%>"
		<% } %>
		name="id">
	<label>Текст задания</label>
	<textarea
		required 
		placeholder="Текст задания"
		rows="10" 
		cols="45"
		name="body"><% if (question) { %><%-question.body -%><% } %></textarea>
	<hr>
	<label>Правильный ответ - цифра</label>
	<input 
		required 
		type="number" 
		placeholder="Правильный ответ - цифра" 
		<% if (question) { %>
			value="<%-question.correct.number -%>"
		<% } %>
		name="correct_number">
	<hr>
	<label>Правильный ответ - буква</label>
	<input 
		required 
		type="text" 
		placeholder="Правильный ответ - буква" 
		<% if (question) { %>
			value="<%-question.correct.answer -%>"
		<% } %>
		name="correct_answer">
	<hr>
	<label>Выберите категорию</label>
	<select name="category_num">
		<option disabled>Категория</option>
		<% categories.forEach(function(category, i){ %>
		<option  
			<% if (question && category.num === question.category_num) { %>selected<% } %>
			value="<%-category.num -%>">
			<%-category.num -%>. <%-category.name -%>
		</option>
		<% }); %>
	</select>
	<hr>
	<% if (question) { %>
	<label>Порядковый номер</label>
	<input 
		required 
		type="number" 
		placeholder="Порядковый номер" 
		value="<%-question.num -%>"
		name="number">
	<hr>
	<% } %>
	<label>Примечания</label>
	<textarea
		placeholder="Примечания"
		rows="10" 
		cols="45"
		name="note"><% if (question) { %><%-question.note -%><% } %></textarea>
	<hr>
	<input type="submit" value="СОХРАНИТЬ">
</form>