<div>
	<a href="/question">Добавить вопрос</a>
</div>
<table border="1">
	<tr>
		<td>
			#
		</td>
		<td>
			Текст
		</td>
		<td>
			Порядковый<br>номер
		</td>
		<td>
			Правильный<br>ответ
		</td>
		<td>
			Название<br>категории
		</td>
		<td>
			Примечания
		</td>
		<td>
			Редактировать
		</td>
		<td>
			Удалить
		</td>
	</tr>
	<% questions.forEach(function(question, i){ %>
	<tr>
		<td>
			<%-i + 1 -%>
		</td>
		<td>
			<%-question.body -%>
		</td>
		<td>
			<%-question.num -%>
		</td>
		<td>
			<%-question.correct.number -%>. "<%-question.correct.answer -%>"
		</td>
		<td>
			<%-question.category_num -%>. <%-question.category_name -%>
		</td>
		<td>
			<%-question.note -%>
		</td>
		<td>
			<a href="/question?id=<%-question.id -%>">Редактировать</a>
		</td>
		<td>
			<a href="/question?id=<%-question.id -%>&delete=1">Удалить</a>
		</td>
	</tr>
  	<% }); %>
</table>