<form 
	action="/settings" 
	method="POST"
	name="settings-form">
	<input 
		type="hidden"
		value="<%-admin.id -%>"
		name="id">
	<label>Приветственное сообщение</label>
	<textarea 
		required
		placeholder="Сообщение"
		rows="10" 
		cols="45"
		name="helloMessage"><%-admin.options.helloMessage -%></textarea>
	<hr>
	<label>Сообщение, если пользователь, при прохождении теста, ввёл не корректный номер</label>
	<textarea
		required 
		placeholder="Сообщение"
		rows="10" 
		cols="45"
		name="notCorrectNumberMessage"><%-admin.options.notCorrectNumberMessage -%></textarea>
	<hr>
	<label>Сообщение, с просьбой подписаться на сообщество</label>
	<textarea
		required 
		placeholder="Сообщение"
		rows="10" 
		cols="45"
		name="followMessage"><%-admin.options.followMessage -%></textarea>
	<hr>
	<label>Сообщение, с приглашением на курсы</label>
	<textarea 
		required 
		placeholder="Сообщение"
		rows="10" 
		cols="45"
		name="invitationMessage"><%-admin.options.invitationMessage -%></textarea>
	<hr>
	<label>Сообщение, пользователь ответил корректно на все вопросы из категории</label>
	<textarea
		required 
		placeholder="Сообщение"
		rows="10" 
		cols="45"
		name="allCorrectAnswersMessage"><%-admin.options.allCorrectAnswersMessage -%></textarea>
	<hr>
	<label>Сменить пароль</label>
	<input type="password" name="password" placeholder="Старый пароль">
	<input type="text" name="new_password" placeholder="Новый  пароль пароль">
	<input type="submit" value="СОХРАНИТЬ">
</form>